.nav-sidebar {
    & > li {
        cursor: pointer;
        &.active {
            i.right {
                transform: rotate(-90deg);
            }
            .nav-treeview {
                display: block;
            }
        }
    }
}
